<!-- Header + Web Menu (hidden in mobile mode) -->
<app-header></app-header>
<!-- Title -->
<div class="row bodyimg nopadding">
  <div class="visible-xs-block visible-sm-block hidden-md-block hidden-lg-block nopadding">
    <br><br><br><br><br>
    <h4 class="col-sm-12 mobileTitle"><b>PARTNER - </b><i>Panel de control</i></h4>
    <br>
  </div>
  <div class="hidden-xs-block hidden-sm-block visible-md-block visible-lg-block nopadding">
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h2 class="well" style="text-align:center"><b>PARTNER - </b><i>Panel de control</i></h2>
    </div>
  </div>
<br>
<br>
</div>

<!-- Mobile Nav -->
<!-- <div class="visible-xs-block visible-sm-block hidden-md-block hidden-lg-block nopadding"> -->
<div class="container">

  <ul class="nav nav-stacked">
    <table class="table table-striped table-hover">
    <thead>
      <tr><th><a class="btn btn-warning" routerLink="/partnerlistrequests" style="text-align:center;width:100%"><button class="btn btn-warning active btn-circle pull-left"><i class="glyphicon glyphicon-th-list"></i></button><h5>BUSCAR SOLICITUDES</h5></a></th></tr>
      <tr><th><a class="btn btn-warning" routerLink="/partnerprocedures" style="text-align:center;width:100%"><button class="btn btn-warning active btn-circle pull-left"><i class="glyphicon glyphicon-time"></i></button><h5>MIS TRAMITES</h5></a></th></tr>
      <tr><th><a class="btn btn-warning" routerLink="/partneraccount" style="text-align:center;width:100%"><button class="btn btn-warning active btn-circle pull-left"><i class="glyphicon glyphicon-user"></i></button><h5>MI CUENTA</h5></a></th></tr>
    </thead>
  </table>
  </ul>
</div>


<app-footer></app-footer>
