<form class="form-horizontal" [formGroup]="complexForm">
  <fieldset>
    <!-- Domicilio -->
    <div class="form-group">
      <div class="has-warning">
        <h3 class="form-control-label" for="inputaddress" style="color:white; text-align:center;">Domicilio</h3><br>
        <div class="col-xs-12">
          <div class="col-xs-10">
            <input type="text" class="form-control" [ngClass]="{'has-error':!complexForm.controls['address_full'].valid && complexForm.controls['address_full'].touched}" formControlName="address_full" [formControl]="complexForm.controls['address_full']" placeholder="Ingrese aqui su domicilio completo">
            <div class="alert alert-warning">{{status}}</div><br>
            <br>
          </div>
          <div class="col-xs-2">
            <button class="btn btn-warning" (click)="onSearchClick()">Buscar</button>
          </div>
        </div>
      </div>

      <div class="col-xs-12" style="width:100%;">
        <input type="text" class="form-control" formControlName="address_street" [formControl]="complexForm.controls['address_street']" placeholder="Calle" disabled><br>

        <input type="text" class="form-control" formControlName="address_number" [formControl]="complexForm.controls['address_number']"  placeholder="Numero" disabled><br>

        <input type="text" class="form-control" formControlName="address_cp" [formControl]="complexForm.controls['address_cp']" placeholder="Codigo Postal" disabled><br>

        <input type="text" class="form-control" formControlName="address_state" [formControl]="complexForm.controls['address_state']" placeholder="Provincia" disabled><br>

        <input type="text" class="form-control" formControlName="address_city" [formControl]="complexForm.controls['address_city']" placeholder="Localidad" disabled><br>

        <input type="text" class="form-control" formControlName="address_country" [formControl]="complexForm.controls['address_country']" placeholder="Pais" disabled><br>

        <div class="col-xs-12 has-warning pull-right" style="width:100%;">
          <input type="text" class="form-control" formControlName="address_floor" [formControl]="complexForm.controls['address_floor']" placeholder="Piso"><br>

          <input type="text" class="form-control" formControlName="address_room" [formControl]="complexForm.controls['address_room']" placeholder="Departamento"><br>
        </div>
      </div>

      <!-- Telefono -->
      <div class="col-xs-12 has-warning pull-right" style="width:100%;">
        <label class="form-control-label" for="inputphone" style="color:white">Telefono/Celular</label>
        <input type="text" class="form-control form-control-warning" formControlName="address_phone" [formControl]="complexForm.controls['address_phone']" style="display:table-cell;width:100%;">
        <div class="alert alert-danger" *ngIf="!complexForm.controls['address_phone'].valid && complexForm.controls['address_phone'].touched">Por favor ingrese un telefono valido.</div>
      </div>
      <!-- Nombre del Contacto -->
      <div class="col-xs-12 has-warning pull-right" style="width:100%;">
        <label class="form-control-label" for="contactname" style="color:white">Nombre de Contacto</label>
        <input type="text" class="form-control form-control-warning" formControlName="address_contact" [formControl]="complexForm.controls['address_contact']" style="display:table-cell;width:100%;">
        <div class="alert alert-danger" *ngIf="!complexForm.controls['address_contact'].valid && complexForm.controls['address_contact'].touched">Por favor ingrese un nombre de contacto valido.</div>
      </div>
    </div>
    <div class="form-group nopadding">
        <label class="alert-danger" *ngIf="!complexForm.controls['address_full'].valid">Por favor completar: Domicilio.</label>
        <button style="float:none;display:table-cell;vertical-align:bottom;" type="submit" class="btn btn-danger" (click)="onClick()" [disabled]="!complexForm.valid">Agregar Direccion</button>
    </div>
  </fieldset>
</form>
