<!-- Header + Web Menu (hidden in mobile mode) -->
<app-header></app-header>
<!-- Title -->
<div class="row bodyimg nopadding">
  <div class="visible-xs-block visible-sm-block hidden-md-block hidden-lg-block nopadding">
    <br><br><br><br><br>
    <h4 class="col-sm-12 mobileTitle"><i><b>Registro Completo</b></i></h4>
    <br>
  </div>
  <div class="hidden-xs-block hidden-sm-block visible-md-block visible-lg-block nopadding">
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h2 class="well" style="text-align:center"><i><b>Registro Completo</b></i></h2>
    </div>
  </div>
<br>
<br>
</div>

<!-- Mobile Nav -->
<div class="visible-xs-block visible-sm-block hidden-md-block hidden-lg-block nopadding">
  <ul class="nav nav-stacked">
    <table class="table table-striped table-hover">
    <thead>
      <tr><th><a class="btn btn-warning" routerLink="/home" style="text-align:center;width:100%">VOLVER</a></th></tr>
    </thead>
  </table>
  </ul>
</div>
<!-- Body -->
<div class="col-xs-12 col-md-10 col-md-offset-1" style="text-align:center">
  <label class="well" style="text-align:center;">Gracias por registrarse. Recuerde validar su cuenta desde el link que le enviamos a su casilla de correo electronico para activar su cuenta.</label>
</div>

  <br>
  <br>
  <br>
  <br>
</div>
<app-footer></app-footer>
