<!-- Modal error login -->
<modal #loginModal [(ngModel)]="MODAL_LOGIN" ngDefaultControl>
    <modal-header>
        <h1>{{MODAL_LOGIN.title}}</h1>
    </modal-header>
    <modal-content>
      <div>{{MODAL_LOGIN.body}}</div>
    </modal-content>
    <modal-footer>
        <div class="col-xs-3 col-xs-offset-9 nopadding pull-right"><button class="btn btn-warning" (click)="loginModal.close()">Cerrar</button></div>
    </modal-footer>
</modal>

<!-- Header + Web Menu (hidden in mobile mode) -->
<app-header></app-header>
<!-- Title -->
<div class="row bodyimg nopadding">
  <div class="visible-xs-block visible-sm-block hidden-md-block hidden-lg-block nopadding">
    <br><br><br><br><br>
    <h4 class="col-sm-12 mobileTitle"><i><b>INICIAR SESION</b></i></h4>
    <br>
  </div>
  <div class="hidden-xs-block hidden-sm-block visible-md-block visible-lg-block nopadding">
  <br>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <h2 class="well" style="text-align:center"><i><b>Iniciar Sesion</b></i></h2>
    </div>
  </div>
<br>
<br>
</div>

<!-- Mobile Nav -->
<div class="visible-xs-block visible-sm-block hidden-md-block hidden-lg-block nopadding">
  <ul class="nav nav-stacked">
    <table class="table table-striped table-hover">
    <thead>
      <tr><th><a class="btn btn-warning" routerLink="/home" style="text-align:center;width:100%">VOLVER</a></th></tr>
    </thead>
  </table>
  </ul>
</div>
<!-- Body -->
<div class="col-xs-12 col-md-4 col-md-offset-4">
  <form class="form-horizontal" (ngSubmit)="doLogin()"  [formGroup]="complexForm">
    <fieldset class="panel panel-warning">
      <div class="panel-body">
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">DNI/CUIL</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" placeholder="Cuenta" formControlName="user" [formControl]="complexForm.controls['user']">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
          <div class="col-lg-10">
            <input type="password" class="form-control" placeholder="Password" formControlName="pass" [formControl]="complexForm.controls['pass']">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-12" style="width:100%">
            <button style="width:100%" type="submit" class="btn btn-warning" data-target=".popup"  [disabled]="!complexForm.valid">INGRESAR</button>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
  <br>
  <br>
  <br>
  <br>
</div>
</div>
<app-footer></app-footer>
